@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	background: white;
	margin: 0px;
}

.box {
	border:2px solid #1E392A;
}

.box h1 {
	background:#1E392A;
	color:white;
	padding:10px;
}

.box p {
	font size:"13";
	color:#1E392A;
	padding:10px;
}

.box {
	background: #3CC47C;
	text-align: center;
	box-shadow: 0px 5px 5px rgba(0,0,0,.16);
	transition: 300ms;
}

.box:hover {
	box-shadow: 0px 10px 5px rgba(0,0,0,.3);
	transition: 300ms;
}

img {
	margin-left:500px;
	transform: rotate(90deg);
}

.info {
	text-align: center;
	border: 2px solid #1E392A;
	color: #828081;
	margin-top: 0px; 
	padding: 10px; 
}

a:visited { text-decoration: none; color:#1E392A;} 
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:purple; }
a:hover, a:active { text-decoration: none; color:black}