@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	background: white;
}

h1 {
	text-align: center;
}

.box {
	border:2px solid #1E392A;
}

.box h1 {
	background:#1E392A;
	color:white;
	padding:10px;
}

.box p {
	font size:"13";
	color:#1E392A;
	padding:10px;
}

.box {
	background: #3CC47C;
	text-align: center;
	box-shadow: 0px 5px 5px grey;
	transition: .2s;
}

.box:hover {
	box-shadow: 0px 10px 5px grey;
	transition: .2s;
}

img {
	margin-top: 50px;
	margin-left: 10px;
	box-shadow: 0px 5px 5px black;
}

.info {
	border: 2px solid #1E392A;
	color: #828081;
	float: right;
	width: 300px;
	margin-top: 15px; 
	padding: 10px; 
	div-align: right;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

a:visited { text-decoration: none; color:#1E392A;} 
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:purple; }
a:hover, a:active { text-decoration: none; color:black}
